$color-white: #fafbfe;
$color-white-darker: #f0f0f0;
$color-pink: #e83f6f;
$color-black: #37404a;

body {
}

#navbar {
  color: white;
  background-color: $color-black;

  .nav-link {
    color: white;
    font-weight: bold;
  }

}

.player-header {
  background-color: $color-white-darker;
  padding-top: 40px;
}

.player-bio {
  margin-bottom: 40px;
}

.player-body {
  background-color: $color-white;
}

table {
  white-space: nowrap;
}

.player-bio-item-label {
  font-weight: bold;
}

body {
  margin-bottom: 40px;
}

.navbar-search {
  position: relative;

  .navbar-search-menu {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }
}

.player-summary {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
  .player-summary-card {
    margin: 10px;
    width: 170px;
  }
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}


.nav-normal .nav-link.active {
  border-bottom: 2px solid #f9826c;
  font-weight: bold;

}

.nav-normal .nav-link {
  color: black;
  // font-weight: bold;
}

.navbar-search-menu {
  z-index: 1000;
  max-height: 300px;
  overflow-x: auto;

  .navbar-search-menu-item {
    background-color: white;
    padding: 5px;
  }
}

.card-chart {
  height: 534px;
  width: 1068px;
}
