$color-white: #fafbfe;
$color-white-darker: #f0f0f0;
$color-pink: #e83f6f;
$color-black: #37404a;

body {
  background-color: $color-white;
}

#navbar {
  color: white;
  background-color: $color-black;

  .nav-link {
    color: white;
    font-weight: bold;
  }

}

.player-header {
  padding-top: 40px;

  .player-bio {
    margin-bottom: 40px;
  }

  .player-item-data.image {
    height: 238px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }

  .player-bio-right {
    margin-left: 15px;
  }
}


table {
  white-space: nowrap;
}

.player-bio-item-label {
  font-weight: bold;
}



.player-summary {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.player-summary-card {
  margin: 10px;
  width: 170px;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}


.nav-normal .nav-link.active {
  border-bottom: 2px solid #f9826c;
  font-weight: bold;

}

.nav-normal .nav-link {
  color: black;
}


#navbar {
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .navbar-search {
    position: relative;

    .navbar-search-menu {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      z-index: 1000;
      max-height: 300px;
      overflow-x: auto;
    }

    .navbar-search-menu-item {
      background-color: white;
      padding: 5px;
    }
  }
}

// phones
@media only screen 
and (min-device-width: 370px) 
and (max-device-width: 668px)  { 

  .navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-search {
    margin: 10px 0px;
    width: 100%;
  }

}




.form-filters .input-group-filter {
    margin-top: 10px;
  }



.col-nav-player {
  padding: 0;
}

.nav-player {
  background-color: rgb(250, 251, 252);
  border: 1px solid rgb(225, 228, 232);
  border-radius: 6px;
  margin: 0px 20px;

  .nav-link {
    border-top: 1px solid #eaecef;
    background-color: initial;
    color: #24292e;
    padding: 12px 16px;
  }
  
  .nav-link:hover {
    background-color: #f6f8fa;
  }

  .nav-link.active {
    border-left: 3px solid red;
    background-color: #fff;
  }
}


.card-table {
  margin-bottom: 40px;
  

  table {
    line-height: 1.15;
  }

  tbody tr:hover {
    background-color: $color-white-darker;
    cursor: pointer;
  }

  tbody tr.active {
    background-color: #ee9b66;
  }


  .card-header {
    display: flex;
    justify-content: space-between;
    background-color: $color-white-darker;
  }

  .card-body {
    padding: 10px;
  }
}

.tablesort {
  thead th:hover {
    cursor: pointer;
  }

  .tablesort-asc, 
  .tablesort-desc {
    color: red;
  }
}



// phones
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  { 
  .col-nav-player {
    margin-bottom: 20px;
  }

  .player-summary-card {
    width: 100%;
    margin: 10px 0px;
  }

  .card-table .card-header {
    h4 {font-size: 1.25em;}
    align-items: baseline;

    .nav-link {
      padding: 8px;
    }
  }
}




















