$color-white: #fafbfe;
$color-white-darker: #f0f0f0;
$color-pink: #e83f6f;
$color-black: #37404a;

body {
  background-color: $color-white;
}

.table {
  white-space: nowrap;
}

.player-top {
  display: flex;
  align-items: flex-start;
}

.player-top-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;

  .card-player-bio {
    min-width: 200px;
    margin: 0px 20px;

    .card-body {
      padding: 30px;
    }
  }


}

.player-bio {
  margin-bottom: 40px;
  display: flex;

  .player-item-data.image {
    height: 238px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }

  .player-bio-right {
    margin-left: 15px;
  }

  .player-bio-item-label {
    font-weight: bold;
  }
}

// phones
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .player-bio {
    display: block;

    .player-item-data.image {
      height: 175px;
      width: auto;
      float: right;
    }
  }
}

.player-header {
  padding-top: 40px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .player-header {
    padding-top: 25px;
  }
}

.player-summary {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.player-summary-card {
  margin: 10px;
  width: 170px;
}

// phones
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .player-summary-card {
    width: 150px;
  }
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-normal .nav-link.active {
  border-bottom: 2px solid #f9826c;
  font-weight: bold;
}

.nav-normal .nav-link {
  color: black;
}

#navbar {
  color: white;
  background-color: $color-black;

  .nav-link {
    color: white;
    font-weight: bold;
  }

  .navbar-toggler {
    color: white;
  }


  .navbar-collapse-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-search {
    position: relative;

    .navbar-search-menu {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      z-index: 1000;
      max-height: 300px;
      overflow-x: auto;
    }

    .navbar-search-menu-item {
      background-color: white;
      padding: 5px;
    }
  }
}

// phones
@media only screen and (min-device-width: 370px) and (max-device-width: 668px) {
  #navbar {
    .navbar-collapse-items {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .navbar-search {
      margin: 15px 0px;
      width: 100%;
    }
  }
}

.form-filters .input-group-filter {
  margin-top: 10px;
}

.col-nav-player {
  padding: 0;
}

.nav-player {
  background-color: rgb(250, 251, 252);
  border: 1px solid rgb(225, 228, 232);
  border-radius: 6px;
  margin: 0px 20px;

  .nav-link {
    border-top: 1px solid #eaecef;
    background-color: initial;
    color: #24292e;
    padding: 12px 16px;
  }

  .nav-link:hover {
    background-color: #f6f8fa;
  }

  .nav-link.active {
    border-left: 3px solid red;
    background-color: #fff;
  }
}

.card-table {
  margin-bottom: 40px;

  table {
    line-height: 1.15;
  }

  tbody tr:hover {
    background-color: $color-white-darker;
    cursor: pointer;
  }

  tbody tr.active {
    background-color: #ee9b66;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    background-color: $color-white-darker;
  }

  .card-body {
    padding: 10px;
  }
}

.tablesort {
  thead th:hover {
    cursor: pointer;
  }

  .tablesort-asc,
  .tablesort-desc {
    color: red;
  }
}

.super-table-hidden {display: none;}


.card-module .card-header {
  align-items: baseline;
  flex-wrap: wrap;

  .results-count {
    display: flex;
    align-items: center;

    .results-count-data {
      margin-bottom: 5px;
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > * {
      margin: 0px 3px;
    }
  }
}


.dropdown-super-table {
  button[data-toggle="dropdown"] {
    max-height: 31px;
    i {font-size: 1.5em;}
  }

  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }

  .super-table-checkboxes {padding: 10px 15px;}
}


// phones
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .card-module .card-header {
    .toolbar {
      margin-top: 5px;
      flex-wrap: wrap-reverse;

      .select-per-page {margin-top: 15px;}
    }
  }
}



// phones
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .col-nav-player {
    margin-bottom: 20px;
  }

  .card-table .card-header {
    h4 {
      font-size: 1.25em;
    }

    align-items: baseline;

    .nav-link {
      padding: 8px;
    }
  }
}

.modal-details-items {
  .modal-details-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 6px 20px;

    dd {margin-bottom: 0;}
  }
}


.card-deck-home{
  margin-bottom: 40px;
}
